{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<section class="jumbotron text-center">
    <div class="container">
        <h1>Blog</h1>
        <p class="lead text-muted">Aplicacion blog permite la creacion de post y comentarios </p>
        <p>
            <a href="{{ path('post_new') }}" class="btn btn-primary my-2">Nuevo post</a>
            <a href="{{ path('comment_new') }}" class="btn btn-warning my-2">Nuevo comentario</a>
        </p>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>{{ post.title }}</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">{{ post.content }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ path('post_show', {'id': post.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">Ver</a>
                                <a href="{{ path('post_edit', {'id': post.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}